
nav {
  padding: 20px;
  display: flex;
  justify-content: center; 
  align-items: center; 
  border-bottom: 2px solid white; 
}


nav ul {
  display: flex; 
  list-style: none; 
  padding: 0; 
}

nav li {
  margin-right: 20px; 
}


nav a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: 18px;
}

/* Center the JPEG image */
img.jpeg {
  display: block; 
  margin: 0 auto;
}

/* Style the white underline */
nav a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s;
}

  body {
    background-color: #000;
    color: #fff; 
  }

  footer {
    text-align: center;
  }
  
  /* Add styles to the button-link class for Feedback */
  .button-link {
    text-decoration: none;
    background-color: #4b5358; 
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s;
  }
  
  .button-link:hover {
    background-color: #005f9e; /* Change button background color on hover */
  }
  
 /* Style for team members
 ask what they think
 */
.team-member {
  display: flex; 
  align-items: center; 
  margin: 20px;
  color: #fff;
}

.team-member img {
  width: 150px; 
  height: auto;
}


.feedback {
  max-width: 150px;
  text-align: left; 
  margin: 0; /
}
/* Style the text boxes */
.text-box {
  background: #000; /* Background color same as the website */
  padding: 10px;
  margin: 10px;
}

.text-box input {
  border: none;
  border-bottom: 2px solid #fff; /* White underline */
  background: transparent;
  color: #fff; 
  width: 100%; 
  padding: 5px;
  margin: 5px 0;
}


.text-box textarea {
  border: none;
  border-bottom: 2px solid #fff; 
  background: transparent;
  color: #fff; 
  width: 80%; 
  padding: 5px;
  margin: 5px 0;
}

.subtitleRight {
  font-size: 30px;
  font-family: 'Times New Roman';
  margin-left: 50%;
  margin-bottom: 5%; 
  font-weight: bold;
}

.subtitleLeft {
  font-size: 30px;
  font-family: 'Times New Roman';
  margin-left: 10%;
  margin-bottom: 5%;
  font-weight: bold;
}

.subtitleCenter{
  font-size: 24px;
  font-family: 'Times New Roman';
  text-align: center;
  font-weight: bold;
 
}

.paragraph {
  margin-left: 5%;
  margin-right: 5%;
  font-family: cursive;
  font-size: 19 px;
  margin-bottom: 5%;
}

.imgRight {
  max-width: 600px;
  margin-left: 50%;

}

.jpeg {
  max-width: 80%;
  max-height: 60px;
}

.right-align {
  float: right;
}
/*
.submitButton{
  text-decoration: none;
  background-color: #0078d4; 
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
  transition: background-color 0.3s;
}
*/

.HollowTitle{
text-align: center;
font-family: cursive;
font-size: 45px;
}

.iframe{
  display: flex;
}

.containerBody {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

iframe {
  width: 80%;
  max-width: 800px;
  height: 600px;
  border: 0;
  margin: 0 auto;
}

body, iframe {
  margin: 0;
  padding: 0;
}
